language: go
go:
  - '1.9.x'
  - '1.10.x'
  - '1.11.x'
  - '1.12.x'
  - '1.13.x'
  - '1.14.x'
  - 'master'

sudo: false

before_install:
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get ./cmd/pinyin

script:
  - go run cmd/pinyin/main.go abc
  - go run cmd/pinyin/main.go -s zhao abc
  - echo "abc" | go run cmd/pinyin/main.go
  - echo "abc" > abc.txt && go run cmd/pinyin/main.go < abc.txt
  - $HOME/gopath/bin/goveralls -service=travis-ci -v -package .

matrix:
  allow_failures:
    - go: master
